.allHead{
	margin-top: 50px
}
.navtab{
    color: black
}
.cardwidth{
    width: 105%;
    
}
.dashcontain{
    font-size: 20x
}
.volcard{
    margin-right: 15%;
}
.expcard{
    padding-left: 5%
}
.trafcard{
    margin-left: 5%
}
.foodcard{
    margin-right: 5%
}